#a {
    background-color: rgb(11, 34, 168);
    width: 250px;
    height: 250px;
    margin: 10px;
}

#b {
    background-color: rgb(170, 23, 199);
    width: 250px;
    height: 250px;
    margin: 10px;
}

#c {
    background-color: rgb(7, 7, 7);
    width: 250px;
    height: 250px;
    margin: 10px;
    color: wheat;
}

.now {
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: center;
    background-color: turquoise;
    align-items: center;
    height: 100vh;
}