#number3 {
    color: green;
}

h2 {
    background-color: tomato;
}

p {
    font-size: 14px;
}

div {
    color: rg0b(135, 93, 250);
    text-align: left;
    border-width: 10px;
    border-style: unset;
    border-color: rgb(236, 64, 93);
}

.nice {
    color: yellowgreen;
}

.good {
    background-color: rgba(26, 121, 11, 0.979);
}

#seen {
    background-color: rgb(0, 255, 179);
}


/* * {
    background-color: sienna;
} */

#retry {
    background-color: black;
    width: 300px;
    height: 250px;
    color: white;
    margin: 50px;
    padding: 200px;
    text-decoration: underline;
}